.main {
    display: flex;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(10, 75, 97);
    border-radius: 5px;
    position: absolute;
    height: 65%;
    top: 56px;
    left: 3%;
    flex-direction: column;
}

.instructions ul li {
    padding-right: 20px;
}

.instructions h1{
    color:  rgb(10, 75, 97);
}

.instructions h1, p, li {
    font-family: 'Open Sans Condensed', sans-serif;
}

.instructions-button {
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(10, 75, 97);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 20%;
}

.instructions-button:hover {
    box-sizing: border-box;
    background-color: rgb(19, 123, 158);
    border-color:  rgb(10, 75, 97);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    width: 20%;
}

ul {
    list-style: none
}
ul li::before {
    content: "\2022"; 
    color:  rgb(10, 75, 97);
    font-size: 20px;
    font-weight: bold;
}

#chart {
    height: 750px;
    width: 800px;
}

.hide {
    display: none;
}

#timeframe-buttons button {
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(10, 75, 97);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin: 10px 40px 20px 0px;
    /* padding: 15px 40px 15px 40px; */
    width: 10%;
}

#timeframe-buttons button:hover {
    cursor: pointer;
    outline: 0; 
    border-style: solid;
    border-color:  rgb(10, 75, 97);
    background-color: rgb(19, 123, 158);
}

#timeframe-buttons button:focus {
    cursor: pointer;
    outline: 0;
    border-style: solid;
    border-color: rgb(10, 75, 97)
}


.input-form {
    margin: 3px 0px 100px 0px;
    padding: 0 75px;
    width: 50vw;
    height: 50vh;
}

label {
    font-family: 'Open Sans Condensed', sans-serif;
}

.header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    width: 100%;
    margin: 0 0 12px;
    letter-spacing: 2px;
}

.input-form input {
    cursor: pointer;
    box-sizing: border-box;
    background: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    margin-bottom: 7px;
    border: 1px solid lightgray;
    border-color: lightgray;
    border-radius: 4px;
    width: 100%
}

.input-form input:hover {
    cursor: pointer;
    outline: none; 
    border-style: solid;
    border-color: rgb(10, 75, 97);
}

.input-form input:focus {
    cursor: pointer;
    outline: none; 
    border-style: solid;
    border-color: rgb(10, 75, 97)
}

#submit-button {
    box-sizing: border-box;
    background-color: rgb(10, 75, 97);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

#submit-button:hover {
    box-sizing: border-box;
    background-color: rgb(19, 123, 158);
    border-color:  rgb(10, 75, 97);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}